
.login-boss{
    height: 60vh;
    width: 44%;
    /* background-color:rgb(35, 38, 112); */
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    border: transparent;
    margin-left: 400px;
    margin-top: 100px;
    border-radius: 20px;
    background-image: url('bg1.webp');
    box-shadow: 10px 10px 15px 15px rgba(10, 5, 5, 0.5);
}

.login-input{
    height: 40px;
    width: 360px;
    border-radius: 10px;
    border: transparent;
    box-shadow: inset;
    margin-top: 20px;
    padding: 10px;
    background-color:black;
}
.login-form{
 
    text-align: center;
}
.login-h1{
    font-size: 28px;
    color: whitesmoke;
}

.login-btn{
    margin-top: 20px;
    width: 90px;
    height: 40px;
    border-radius: 10px;
    font-size: 18px;
    border: transparent;
}
.login-btn:hover{
    margin-top: 20px;
    width: 90px;
    height: 40px;
    border-radius: 10px;
    font-size: 18px;
    background-color: rgb(200, 45, 45);
    /* background-image: url('bg.png'); */
    color: white;
    transition: .3s;
}

