*{
    font-family: NotoSansRegular,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue;
}
.sign_top{
    width: 100%;
    height: 90vh;
    background-image: url('sgbg.jpg');
    align-items: center;
    align-content: center;
    justify-items: center;
}
.user_boss{
    height: 60vh;
    width: 44%;
    background-image: url('sgbg.jpg');
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    border: transparent;
    border-radius: 20px;
    
    box-shadow: 10px 10px 15px 15px rgba(10, 5, 5, 0.5);
}

.user-input{
    height: 40px;
    width: 400px;
    border-radius: 10px;
    border: transparent;
    box-shadow: inset;
    margin-top: 20px;
    padding: 10px;
    color:black;
    font-size: 15px;
}
.user-form{
 
    text-align: center;
}
.user-h1{
    font-size: 44px;
    color: rgb(8, 8, 121);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    background-color: #ebe0e0;
    border-radius: 10px;
    margin-bottom: 8px;
}

.user-btn{
    margin-top: 20px;
    width: 90px;
    height: 40px;
    border-radius: 10px;
    font-size: 18px;
    border: transparent;
}
.user-btn:hover{
    width: 90px;
    height: 40px;
    border-radius: 12px;
    font-size: 18px;
    background-color: rgb(226, 32, 32);
    color: white;
    transition: .3s;
}

.user-para{
    color: rgb(241, 223, 223);
}
.user-span{
    color: red;
    cursor: pointer;
}
.user-span:hover{
    color:black;
    cursor: pointer;
}