.useredit-boss{
    height: 60vh;
    width: 46%;
    background-color:rgb(35, 38, 112);
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    border: dashed;
    margin-left: 400px;
    margin-top: 100px;
    border-radius: 20px;
}

.useredit-input{
    height: 40px;
    width: 460px;
    border-radius: 10px;
    border: transparent;
    box-shadow: inset;
    margin-top: 20px;
    padding: 10px;
}
.useredit-form{
 
    text-align: center;
}
.useredit-h1{
    font-size: 28px;
    color: whitesmoke;
}

.useredit-btn{
    margin-top: 20px;
    width: 90px;
    height: 40px;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    border: transparent;
}
.useredit-btn:hover{
    margin-top: 20px;
    width: 90px;
    height: 40px;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 10px;
    background-color: rgb(12, 13, 56);
    color: white;
    transition: .3s;
}